NEXT_PUBLIC_SUPABASE_URL=https://fhfbnpshecgkjnvfyzoe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoZmJucHNoZWNna2pudmZ5em9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0MDM0MDYsImV4cCI6MjA5Nzk3OTQwNn0.PKa50bKNV0Zb3SugPYpqNQI32coNv5PNmY0spMe-UKs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoZmJucHNoZWNna2pudmZ5em9lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQwMzQwNiwiZXhwIjoyMDk3OTc5NDA2fQ.vqt1G_CJFUycLozTw8_F6UhfcGg9xGxsPMrqvVQyB54

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_T61mC84nN5yGds
RAZORPAY_KEY_ID=rzp_test_T61mC84nN5yGds
RAZORPAY_KEY_SECRET=LIjopKDvORNWKvnbRaggBbUi
RAZORPAY_WEBHOOK_SECRET=
